/*
    global css
*/
* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #c7ecee;
}

#app {
    padding-bottom: 20px;
}

.head {
    height: 25px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 2px 0px rgba(64, 59, 59, 0.35);
}

.head span {
    font-size: 16px;
    font-family: STXihei;
    font-weight: bold;
}

.icon-sty {
    margin: 0 5px;
    font-size: 15px;
    color: #000000;
}

.content,
.unit-health-content,
.core-parameter-trends-content,
.processing-records-content {
    height: 455px;
    background-color: #EEEEEE;
    box-shadow: 0px 4px 2px 0px rgba(64, 59, 59, 0.35);
}


/*
    header css
*/
.header {
    text-align: center;
    height: 50px;
    background-color: #2E86DE;
}

.header-title {
    line-height: 50px;
    font-size: 30px;
    font-family: STXihei;
    font-weight: bold;
    color: #FFFFFF;
}


/*
    first-row css
*/
.first-row {
    display: flex;
    justify-content: space-between;
    margin: 15px 20px 0 20px;
}


/*
    unit-load,global-parameters css
*/
.unit-load {
    flex: 1;
}

.unit-load, .global-parameters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    height: 95px;
    background-color: #F68B5D;
    border-radius: 10px;
}

.global-parameters {
    justify-content: space-between;
}

.unit-item, .global-parameters-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.iconfuhebi, .iconfenchen {
    font-size: 40px;
    color: #FFFFFF;
}

.unit-name, .global-parameters-name {
    font-size: 12px;
}

.unit-load-num-bg, .global-parameters-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 50px;
    height: 15px;
    background-color: #546DE5;
}

.unit-load-num, .global-parameters-num {
    font-size: 12px;
    color: #FFFFFF;
}


/*
    global-parameters css
*/
.global-parameters {
    margin: 0 30px;
    width: 255px;
    height: 95px;
    background-color: #55E6C1;
    border-radius: 10px;
}


/*
    unit-parameters css
*/
.unit-parameters {
    flex: 1;
    height: 95px;
    background-color: #F5CD79;
    border-radius: 10px;
}


/*
    second-row css
*/
.second-row {
    flex: 1;
    display: flex;
    margin: 10px 20px 0 20px;
}


/*
    unit-info css
*/
.unit-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.unit-health-content {
    display: flex;
    flex-wrap: wrap;
    height: 210px;
    min-height: 210px;
}

.unit-health-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
}

.iconfadianji {
    font-size: 43px;
    color: #469D54;
}

.iconWarn {
    color: #FF0000;
}

.unit-health-item-bg {
    display: flex;
    justify-content: center;
    width: 70px;
    height: 15px;
    background-color: #469D54;
}

.bgWarn {
    background-color: #FF0000;
}

.unit-health-item-num {
    font-size: 12px;
    color: #FFFFFF;
}

.unit-warning {
    margin: 0 25px;
    width: 547px;
}

.measuring-point {
    width: 493px;
}


/*
    third-row css
*/
.third-row {
    display: flex;
    height: 400px;
    margin: 10px 20px 0 20px;
}

.core-parameter-trends {
    flex: 1;
    margin-right: 25px;
}

.processing-records {
    width: 493px;
}

.core-parameter-trends-content,
.processing-records-content {
    height: 400px;
}













